@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}


.header-wrapper {
	width: 100%;
	height: 678px;
	background: url(../img/header-bg.gif);
	background-size: cover;
}

.top-menu {
	height: 37px;
	width: 100%;
	background: rgba(59, 89, 152, 0.5);

}
